*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: blue;
    font-family:sans-serif;
    background-image: url(../img/blue-ring-light-effect-820ee315fe8684b532bfd49a68362b87.png), url(../img/light-color-color-ring-light-effect-71276b3bfee0809c248b842cf7413d03.png) ;
    background-repeat: no-repeat;

    background-position: top right 350px, left 280px top 210px;
    background-size: 330px;
}
.card{
    display: flex;
    margin-top:150px;
    justify-content: center;
    align-items: center;
}
.container{
    width: 430px;
    height: 250px;
    /* box-shadow: 0px 0px 5px blue; */
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0px 0px 5px blue;
    backdrop-filter: blur(15px);
}
.card__main{
    display: flex;
    justify-content: space-between;
}
.card__img{
    width: 130px;
}
.card__title{
    margin-left: 30px;
    margin-top: 35px;
    font-size: 25px;
}
.card__user{
    margin-left: 40px;
    margin-top: 20px;
    font-size: 35px;
    color: rgb(231, 231, 244);
}
.card__text{
    margin-left: 40px;
    margin-top: 15px;
    color:rgb(165, 165, 174) ;
}